extends ../../layouts/default

block content
    .container
        h1 Manage Organization Members
        if org.enforce2FA && membersWithout2FA.length > 0
            div.pull-right
                form(method='POST', action='/remove/bulk/#{org.name}/members')
                    input(type='hidden', name='members', value= membersWithout2FA.join(','))
                    input.btn.btn-primary(type='submit', value='Remove #{membersWithout2FA.length} non-2FA member(s)')
        h3 Members of #{org.name}
        table.table.table-striped
            thead
                tr
                    td Name
                    td Email
                    td Github Username
                    if org.enforce2FA
                        td 2FA
                    td Safe
                    td Actions
            tbody
                for member in members
                    tr
                        td #{member.name.first} #{member.name.last}
                        td= member.email
                        td= member.services.github.username
                        if org.enforce2FA
                            td
                                if member.has2FA && !member.services.github.safe
                                    span.glyphicon.glyphicon-ok
                                else if !member.services.github.safe
                                    span.glyphicon.glyphicon-ban-circle
                                else if member.services.github.safe
                                    span.glyphicon.glyphicon-minus
                        td
                            if member.services.github.safe
                                span.glyphicon.glyphicon-ok
                            else
                                span.glyphicon.glyphicon-ban-circle
                        td
                            a(href='/remove/#{org.name}/#{member.services.github.username}') Remove
        h3 #{org.name} members not in Middleman (#{notInSystem.length})
        table.table.table-striped
            thead
                tr
                    td Github Username
                    td Actions
            tbody
                for member in notInSystem
                    tr
                        td= member
                        td
                            a(href='/remove/#{org.name}/#{member}') Remove
