extends ../../layouts/default

block content
    .container
        h1 Manage Organization Members
        h3 Members of #{org.name}
        table.table.table-striped
            thead
                tr
                    td Name
                    td Email
                    td Github Username
                    if org.enforce2FA
                        td 2FA
                    td Actions
            tbody
                for member in members
                    tr
                        td #{member.name.first} #{member.name.last}
                        td= member.email
                        td= member.services.github.username
                        if org.enforce2FA
                            td
                                if member.has2FA
                                    span.glyphicon.glyphicon-ok
                                else
                                    span.glyphicon.glyphicon-ban-circle
                        td
                            a(href='/remove/#{org.name}/#{member.services.github.username}') Remove
        h3 #{org.name} members not in Middleman (#{notInSystem.length})
        table.table.table-striped
            thead
                tr
                    td Github Username
                    td Actions
            tbody
                for member in notInSystem
                    tr
                        td= member
                        td
                            a(href='/remove/#{org.name}/#{member}') Remove
